<div class="rsvp" data-meetup="{{include.meetup}}">
  <h3>Participants</h3>
  <div class="participants">
    ...loading...
  </div>

  <h3>Join the meetup</h3>
  <p>The meetup is free! Please let us know if you can make it. We will also inform you about updates and future events.</p>
  <form method="post" action="#" data-meetup="{{include.meetup}}">
    <label for="name">Name</label>
    <input type="text" name="name" class="full-width" />
    <label for="email">Email Address</label>
    <input type="text" name="email" class="full-width" />
    <input type="submit" value="Signup" class="button" /> <span class="success" style="display:none">Great, see you at the meetup!</span>
  </form>
</div>

